# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/

# Data (ignore generated data)
data/raw/*
data/processed/*
outputs/*
!outputs/.gitkeep

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/